In [1]:
import glob
import pandas as pd
import numpy as np

import brainpy
from brainpy import isotopic_variants
# from brainpy import PyComposition

## Setup basic dataframe

In [2]:
species_df = pd.read_csv(r"F:\Post-PhD_projects_Kai\p24_Ion_mobility_lipids\20210514_QE_data_sample5_oskar\20210531_lipid_species_list_pos_neg.csv")

adduct_df = pd.read_csv(r"F:\Post-PhD_projects_Kai\p24_Ion_mobility_lipids\20210514_QE_data_sample5_oskar\20210601_adduct_assignment.csv")

In [3]:
l_m0 = []
l_m03 = []
l_i03 = []
l_ec_parsed = []

for i in species_df.index:
    tmp = isotopic_variants(brainpy.parse_formula(species_df.EC[i]),4, charge=species_df.Charge[i])
    l_ec_parsed.append(brainpy.parse_formula(species_df.EC[i]))
    l_m0.append(round(tmp[0].mz,5))
    l_m03.append([round(tmp[0].mz,5), round(tmp[1].mz,5), round(tmp[2].mz,5), round(tmp[3].mz,5)])
    l_i03.append([round(tmp[0].intensity,5), round(tmp[1].intensity,5), round(tmp[2].intensity,5), round(tmp[3].intensity,5)])

In [4]:
species_df['EC_parsed'] = l_ec_parsed
species_df['m0'] = l_m0
species_df['mz'] = l_m03
species_df['intensity'] = l_i03

species_df['Lipid_class'] = pd.DataFrame(species_df.SPECIE.str.split(" ").tolist())[0]

species_df.head()

,EC,SPECIE,TYPE,Charge,EC_parsed,m0,mz,intensity,Lipid_class
0,H138C76O17P2,CL 66:3:0,M-2H,-2,"[H, C, O, P]",691.46319,"[691.46319, 691.96489, 692.46649, 692.96801]","[0.4242, 0.35817, 0.16414, 0.05349]",CL
1,H136C76O17P2,CL 66:4:0,M-2H,-2,"[H, C, O, P]",690.45536,"[690.45536, 690.95707, 691.45866, 691.96018]","[0.42429, 0.35815, 0.1641, 0.05346]",CL
2,H134C76O17P2,CL 66:5:0,M-2H,-2,"[H, C, O, P]",689.44754,"[689.44754, 689.94924, 690.45084, 690.95236]","[0.42439, 0.35813, 0.16405, 0.05343]",CL
3,H132C76O17P2,CL 66:6:0,M-2H,-2,"[H, C, O, P]",688.43971,"[688.43971, 688.94142, 689.44301, 689.94453]","[0.42448, 0.35811, 0.164, 0.05341]",CL
4,H130C76O17P2,CL 66:7:0,M-2H,-2,"[H, C, O, P]",687.43189,"[687.43189, 687.93359, 688.43518, 688.93671]","[0.42457, 0.35809, 0.16396, 0.05338]",CL

In [5]:
pos_mode = species_df.Charge > 0
neg_mode = species_df.Charge < 0

In [6]:
import json

In [7]:
delta_EC_df = pd.read_csv(r"F:\Post-PhD_projects_Kai\p24_Ion_mobility_lipids\20210514_QE_data_sample5_oskar\20210601_delta_to_main_species.csv")

delta_dict = []

for i in delta_EC_df.index:
    delta_dict.append(json.loads(delta_EC_df.Delta_to_main_species[i]))

delta_EC_df['Delta_to_main_species'] = delta_dict

delta_EC_df

            Adduct  Charge                              Delta_to_main_species
0             M-2H      -2  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 0, 'Cl'...
1      M-2H+NaHCO2      -2  {'H': 1, 'C': 1, 'O': 2, 'N': 0, 'Na': 1, 'Cl'...
2     M-2H+NH4HCO2      -2  {'H': 5, 'C': 1, 'O': 2, 'N': 1, 'Na': 0, 'Cl'...
3        M-2H+NaCl      -2  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'...
4           M+HCO2      -1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 0, 'Cl'...
5    M+HCO2+NaHCO2      -1  {'H': 1, 'C': 1, 'O': 2, 'N': 0, 'Na': 1, 'Cl'...
6   M+HCO2+NH4HCO2      -1  {'H': 5, 'C': 1, 'O': 2, 'N': 1, 'Na': 0, 'Cl'...
7      M+HCO2+NaCl      -1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'...
8             M+Cl      -1  {'H': -1, 'C': -1, 'O': -2, 'N': 0, 'Na': 0, '...
9              M-H      -1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 0, 'Cl'...
10      M-H+NaHCO2      -1  {'H': 1, 'C': 1, 'O': 2, 'N': 0, 'Na': 1, 'Cl'...
11     M-H+NH4HCO2      -1  {'H': 5, 'C': 1, 'O': 2, 'N': 1, 'Na': 0, 'Cl'...
12        M-H+NaCl      -1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'...
13             M+H       1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 0, 'Cl'...
14            M+Na       1  {'H': -1, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl...
15       M+Na+NaCl       1  {'H': -1, 'C': 0, 'O': 0, 'N': 0, 'Na': 2, 'Cl...
16        M+H+NaCl       1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'...
17           M+NH4       1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 0, 'Cl'...
18      M+NH4+NaCl       1  {'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'...

In [8]:
elements = ["H", "C", "O", "N", "P", "Na", "Cl"]
tuplelist = []
ec_dictlist = []

for i in species_df.index:
    t = species_df.EC_parsed[i]
    for element in elements:
        tuplelist.append((element, t[element]))

        # tmp = tuplelist.append((element, t[element]))
    ec_dictlist.append(dict(tuplelist))

species_df['EC_dict'] = ec_dictlist

In [9]:
adduct_df

           M-2H          M+HCO2          M-H       M+H       M+NH4
0   M-2H+NaHCO2   M+HCO2+NaHCO2   M-H+NaHCO2      M+Na        M+Na
1  M-2H+NH4HCO2  M+HCO2+NH4HCO2  M-H+NH4HCO2  M+H+NaCl  M+NH4+NaCl
2     M-2H+NaCl     M+HCO2+NaCl     M-H+NaCl       NaN         NaN
3           NaN            M+Cl          NaN       NaN         NaN

In [10]:
l_species = []
l_EC_dict = []
l_type = []
l_delta = []
l_charge = []

# do something for each species; about 780 entries
for i in species_df.index:
    # find for each species additional adduct variants
    for j in np.arange(0, len(adduct_df[species_df.TYPE[i]].dropna()),1):
        l_species.append(species_df.SPECIE[i])
        l_EC_dict.append(species_df.EC_dict[i])
        l_charge.append(species_df.Charge[i])
        adduct = adduct_df[species_df.TYPE[i]][j]
        l_type.append(adduct)
        l_delta.append(delta_EC_df[(delta_EC_df.Adduct == adduct)].Delta_to_main_species.tolist())

l_delta_flat = [item for sublist in l_delta for item in sublist]

In [11]:
new_adduct_df = pd.DataFrame([l_species, l_charge, l_EC_dict, l_type, l_delta_flat]).T
new_adduct_df.columns = ['SPECIE', 'Charge', 'EC_dict_ori', 'new_adduct', 'sub_parse']
new_adduct_df

,SPECIE,Charge,EC_dict_ori,new_adduct,sub_parse
0,CL 66:3:0,-2,"{'H': 138, 'C': 76, 'O': 17, 'N': 0, 'P': 2, '...",M-2H+NaHCO2,"{'H': 1, 'C': 1, 'O': 2, 'N': 0, 'Na': 1, 'Cl'..."
1,CL 66:3:0,-2,"{'H': 138, 'C': 76, 'O': 17, 'N': 0, 'P': 2, '...",M-2H+NH4HCO2,"{'H': 5, 'C': 1, 'O': 2, 'N': 1, 'Na': 0, 'Cl'..."
2,CL 66:3:0,-2,"{'H': 138, 'C': 76, 'O': 17, 'N': 0, 'P': 2, '...",M-2H+NaCl,"{'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'..."
3,CL 66:4:0,-2,"{'H': 136, 'C': 76, 'O': 17, 'N': 0, 'P': 2, '...",M-2H+NaHCO2,"{'H': 1, 'C': 1, 'O': 2, 'N': 0, 'Na': 1, 'Cl'..."
4,CL 66:4:0,-2,"{'H': 136, 'C': 76, 'O': 17, 'N': 0, 'P': 2, '...",M-2H+NH4HCO2,"{'H': 5, 'C': 1, 'O': 2, 'N': 1, 'Na': 0, 'Cl'..."
...,...,...,...,...,...
2192,TG 60:2:0,1,"{'H': 122, 'C': 63, 'O': 6, 'N': 1, 'P': 0, 'N...",M+NH4+NaCl,"{'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'..."
2193,TG 60:1:0,1,"{'H': 124, 'C': 63, 'O': 6, 'N': 1, 'P': 0, 'N...",M+Na,"{'H': -1, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl..."
2194,TG 60:1:0,1,"{'H': 124, 'C': 63, 'O': 6, 'N': 1, 'P': 0, 'N...",M+NH4+NaCl,"{'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'..."
2195,TG 60:0:0,1,"{'H': 126, 'C': 63, 'O': 6, 'N': 1, 'P': 0, 'N...",M+Na,"{'H': -1, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl..."
2196,TG 60:0:0,1,"{'H': 126, 'C': 63, 'O': 6, 'N': 1, 'P': 0, 'N...",M+NH4+NaCl,"{'H': 0, 'C': 0, 'O': 0, 'N': 0, 'Na': 1, 'Cl'..."

In [12]:
new_adduct_df.EC_dict_ori[2193]

{'H': 124, 'C': 63, 'O': 6, 'N': 1, 'P': 0, 'Na': 0, 'Cl': 0}

In [13]:
# l = [new_adduct_df.EC_dict_ori[2193], new_adduct_df.sub_parse[2193]]

# result = {}
# for i in np.arange(0,2,1):
#     d = l[i]
#     tmp = []
#     for element in d.keys():
#         result[element] = result.get(element, 0) + d[element]
#         # l_falsch.append(d[element])
#         if i == 1 and result[element] > 0:
#             tmp.append([element, str(result[element])])

In [ ]:
l_m0 = []
l_m03 = []
l_i03 = []
l_falsch = []
EC_LXstyle_list=[]
EC_LXstyle_parse_list = []

for e in new_adduct_df.index:
    # print(e)
    l = [new_adduct_df.EC_dict_ori[e], new_adduct_df.sub_parse[e]]

    result = {}
    for i in np.arange(0,2,1):
        d = l[i]
        tmp = []
        for element in d.keys():
            result[element] = result.get(element, 0) + d[element]
            if i == 1 and result[element] >0:
                tmp.append([element, str(result[element])])
    tmp2 = []
    isotopes = []
    for i in np.arange(0,len(tmp),1):
        for j in np.arange(0,2,1):
            tmp2.append(tmp[i][j])
    EC_LXstyle = ''.join(tmp2)

    # isotopes = isotopic_variants(brainpy.parse_formula(EC_LXstyle),4, charge=new_adduct_df.Charge[e])
    # l_m0.append(round(isotopes[0].mz,5))
    # l_m03.append([round(isotopes[0].mz,5), round(isotopes[1].mz,5), round(isotopes[2].mz,5), round(isotopes[3].mz,5)])
    # print(round(isotopes[0].intensity,5))
    # break
    # l_i03.append([round(isotopes[0].intensity,5), round(isotopes[1].intensity,5), round(isotopes[2].intensity,5), round(isotopes[3].intensity,5)])

    # EC_LXstyle_parse_list.append(brainpy.parse_formula(EC_LXstyle))


    # print(EC_LXstyle)
    EC_LXstyle_list.append(EC_LXstyle)

In [14]:
isotopes

NameError: name 'isotopes' is not defined

In [14]:
# new_adduct_iso_df = pd.DataFrame([EC_LXstyle_parse_list, l_m0, l_m03, l_i03]).T
# new_adduct_iso_df.columns = ['EC', 'm0', 'm_iso', 'i_iso']
# new_adduct_iso_df.head()